<div class="side-nav">
	<div class="side-logo">
		<div class="logo">
			<img src="images/icon/favicon.ico" style="width: 20px;height: 20px;"/>
			<strong>后台管理信息系统</strong>
		</div>
	</div>
	<nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
		<h2>
			<a href="index" class="InitialPage"><i class="icon-dashboard"></i>仪表盘</a>
		</h2>
		<ul>
			<li>
				<dl>
					<dt>
						<i class="icon-columns"></i>租户信息管理<i class="icon-angle-right"></i>
					</dt>
					<dd>
						<a href="tenantQuery">租户信息查询</a>
					</dd>
					<dd>
						<a href="tenantAdd">添加租户</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<i class="icon-inbox"></i>通话记录管理<i class="icon-angle-right"></i>
					</dt>
					<dd>
						<a href="recordIn">呼入记录管理</a>
					</dd>
					<dd>
						<a href="recordOut">呼出记录管理</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<i class="icon-external-link"></i>报表管理<i class="icon-angle-right"></i>
					</dt>
					<dd>
						<a href="reportIn">呼入报表</a>
					</dd>
					<dd>
						<a href="reportOut">呼出报表</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<i class="icon-table"></i>费用管理<i class="icon-angle-right"></i>
					</dt>
					<dd>
						<a href="costType">计费方式管理</a>
					</dd>
					<dd>
						<a href="costInfo">费用管理</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<i class="icon-external-link"></i>公告管理<i class="icon-angle-right"></i>
					</dt>
					<dd>
						<a href="noticeQuery">公告查询</a>
					</dd>
					<dd>
						<a href="noticeAdd">添加公告</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<i class="icon-font"></i>个人中心<i class="icon-angle-right"></i>
					</dt>
					<dd>
						<a href="user">账号管理</a>
					</dd>
					<dd>
						<a href="userRepwd">修改密码</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<i class="icon-bar-chart"></i>关于系统<i class="icon-angle-right"></i>
					</dt>
					<dd>
						<a href="website">关于网站</a>
					</dd>
					<dd>
						<a href="author">关于作者</a>
					</dd>
					<dd>
						<a href="version">系统版本</a>
					</dd>
				</dl>
			</li>
		</ul>
	</nav>
	<footer class="side-footer">© WLL 版权所有</footer>
</div>