<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/pageNav.css" />
<link rel="stylesheet" type="text/css" href="css/animation.css" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/plug-ins/customScrollbar.min.css" />
<link rel="stylesheet" type="text/css" href="css/plug-ins/font-awesome.min.css" />
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-responsive.css" />-->
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css" />-->