<script src="javascript/jquery.js"></script>
<script src="javascript/jquery.session.js"></script>
<script src="javascript/plug-ins/customScrollbar.min.js"></script>
<script src="javascript/plug-ins/echarts.min.js"></script>
<script src="javascript/plug-ins/layerUi/layer.js"></script>
<script src="editor/ueditor.config.js"></script>
<script src="editor/ueditor.all.js"></script>
<script src="javascript/plug-ins/pagination.js"></script>
<script src="javascript/public.js"></script>
<script src="javascript/vue.js"></script>
<script src="javascript/pageNav.js"></script>
<!--<script src="javascript/bootstrap/bootstrap.min.js"></script>-->