<!DOCTYPE html>
<html>

	<head>
		<title>后台管理信息系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!--[if lt IE 9]>
	    <script src='assets/javascripts/html5shiv.js' type='text/javascript'></script>
	    <![endif]-->
		<link rel="shortcut icon" href="/images/icon/favicon.ico">
	</head>

	<body>
		<div class="main-wrap">
			<% include ./components/leftMenu.html %>
			<% include ./components/noScript.html %>
			<div class="content-wrap">
				<% include ./components/topBar.html %>
				<main class="main-cont content mCustomScrollbar">
					<!--开始::内容-->
					<div class="page-wrap">
						<section class="page-hd">
							<header>
								<h2 class="title"><i class="icon-inbox"></i>呼入记录管理</h2>
								<p class="title-description">
									悉心管理，成就梦想。
								</p>
							</header>
							<hr>
						</section>
					</div>
					<div  id="havaTable"  class="page-wrap" style="margin-top:-40px">
						<table>
							<tr>
								<td>
									<div class="form-group-col-2">
										<div class="form-label">公司域名：</div>
										<div class="form-cont">
											<input id="domain" type="text" placeholder="请输入公司域名" class="form-control form-boxed">
										</div>
									</div>
								</td>
								<td>
									<div class="form-group-col-2">
										<div class="form-label">坐席工号：</div>
										<div class="form-cont">
											<input id="_dnis" type="text" placeholder="请输入坐席工号" class="form-control form-boxed">
										</div>
									</div>
								</td>
								<td>
									<div class="form-group-col-2">
										<div class="form-label">顾客电话：</div>
										<div class="form-cont">
											<input id="_ani" type="text" placeholder="请输入顾客电话" class="form-control form-boxed">
										</div>
									</div>
								</td>
								<td>
									<div class="form-group-col-2">
										&nbsp;&nbsp;
										<input @click="queryBut(1)"  type="button" class="btn btn-warning" value="查询">
									</div>
								</td>
							</tr>
						</table>
						<table   class="table table-bordered  mb-15">
							<thead>
								<tr>
									<th>编号</th>
									<th>公司名称</th>
									<th>公司域名</th>
									<th>顾客电话</th>
									<th>坐席工号</th>
									<th>呼入时间</th>
									<th>结束时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<template>
									<tr v-for="(todo,index) in todos" class="trClass">
										<td>{{index+1}}</td>
										<td v-text="todo.company_name"></td>
										<td v-text="todo.domain"></td>
										<td v-text="todo.ani"></td>
										<td v-text="todo.dnis"></td>
										<td v-text="todo.start_time"></td>
										<td v-text="todo.end_time"></td>
										<td>
											<a title="详情" disabled="true" class="mr-5">详情</a>
											<a title="删除" disabled="true">删除</a>
										</td>
									</tr>
								</template>
							</tbody>
						</table>
						<div class="">
							<div style="width: 50%;" class="dataTables_paginate paging_bootstrap pagination pagination-small">
								<div >
									<div>
										<!--以下nav是分页代码-->
										<nav arialabel="page navigation" class="pagenavouter" id="PageNavId"></nav>
									</div>
									<div>
										<div style="float: left;">
											<strong >总条数：<a id="count">0</a></strong>
										</div>
										<div style="float: left;">
											<strong >总页数：<a id="countPage">1</a></strong>
										</div>
										<br />
										<br />
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--开始::结束-->
				</main>
				<% include ./components/footer.html %>
			</div>
		</div>
		<script type="text/javascript">
	        $(function() {
				var goodsVue = new Vue({
					el: "#havaTable",
					data: {
						todos: '',
						_index: 1, //指示当前选择的是第几条数据
						pageNavObj: null //分页的对象
					},
					methods: {
						spliceGetStr: function(params) { //拼接get请求
							var strTemp = "";
							for(var variable in params) {
								strTemp += variable + "=" + params[variable] + "&"
							}
							if(strTemp.length > 0) {
								strTemp = strTemp.substr(0, strTemp.length - 1);
							}
							return strTemp;
						},
						getItem: function(_self, index) { //得到点击的是哪条数据,返回该条记录
							var _todosStr = JSON.stringify(_self.todos);
							var _todosArr = JSON.parse(_todosStr);
							var _item = _todosArr[index];
							return _item;
						},
						getItemId: function(_self, index) { //得到点击的是哪条数据,返回该条记录的id
							var _item = this.getItem(_self, index);
							var _itemId = _item["id"];
							return _itemId;
						},
						getDataBySession: function() { //从session中获取数据,拼接在header变量中
							var userAllInfo = $.session.get("loginUserAllInfo_manage");
							var userAllInfoJson = $.parseJSON(userAllInfo);
							var sessionId = userAllInfoJson["id"]; //返回的还是一个json对象
							var user = userAllInfoJson["user"];
							var user_id = user["id"];
							var tenant_id = user["tenant_id"];
							var _headers = {
								"sessionId": sessionId,
								"user_id": user_id,
								"tenant_id": tenant_id,
								"call_type": "0"
							}
							return _headers;
						},
						loadPaging: function(count, _pageNo) { //分页函数
							var pageNum = Math.ceil(count / 10); //计算总页数
							$("#count").html(count);
							$("#countPage").html(pageNum <= 0 ? 1 : pageNum);
							//下面开始分页
							this.pageNavObj = new PageNavCreate("PageNavId", {
								pageCount: pageNum, //总页数
								currentPage: _pageNo, //当前页
								perPageNum: 5, //每页按钮数
							});
							this.pageNavObj.afterClick(this.sendQuery);
						},
						sendQuery: function(_pageNo) { //发送ajax请求，获取指定条件的、带分页的数据
							var _self = this;
							var params = {
								domain: $("#domain").val(),
								ani:$("#_ani").val(),
								dnis:$("#_dnis").val(),
								pageNo: _pageNo,
								pageSize: 10,
								token: "manage"
							};
							var paramsGetStr = "?" + this.spliceGetStr(params);
							//从session中获取数据，拼接到header中
							var _headers = this.getDataBySession();
							$.ajax({
								url: 'http://localhost:7006/record/' + paramsGetStr,
								type: 'get',
								dataType: 'text',
								headers: _headers,
								success: function(_data) {
									var infoRes = $.parseJSON(_data); //返回的数据，包含时间戳等
									var infoData = infoRes["data"]; //取到data
									var count = infoRes["count"]; //取到数据总条数
									var pageNum = Math.ceil(count / 10); //计算总页数
									if(infoData == "") {
										_self.todos = '';
										alert("查询为空");
										_self.loadPaging(0,1); //分页
									} else {
										_self.todos = infoData; //设置表格里面的数据
										console.log("获取到的数据是：" + JSON.stringify(_self.todos));
										_self.loadPaging(count, _pageNo); //分页
									}
								},
								error: function(res) {
									alert("查询失败");
								}
							});
						},
						queryBut:function(_pageNo){//点击查询按钮
							this.sendQuery(_pageNo);
						}
					}
				});
			});
	    </script>
	</body>

</html>