<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>登录-后台管理系统</title>
<link rel="icon" href="images/icon/favicon.ico" type="image/x-icon">
<% include ./components/scriptCSS.html %>
<% include ./components/scriptJS.html %>
<script src="javascript/pages/login.js"></script>
</head>
<body style="background-image: url(./images/bg.jpg);">
	<section class="login-contain">
		<header>
			<h1>后台管理信息系统</h1>
			<p>management system</p>
		</header>
		<div class="form-content">
			<ul>
				<li>
					<div class="form-group">
						<label class="control-label">管理员账号：</label>
						<input type="text" placeholder="username" class="form-control form-underlined" id="username"/>
					</div>
				</li>
				<li>
					<div class="form-group">
						<label class="control-label">管理员密码：</label>
						<input type="password" placeholder="password" class="form-control form-underlined" id="password"/>
					</div>
				</li>
				<li>
					<label class="check-box">
						<input type="checkbox" name="remember"/>
						<span>记住账号密码</span>
					</label>
					<label class="check-box">
						<a href="loginRePwd">忘记密码</a>
					</label>
				</li>
				<li>
					<button class="btn btn-lg btn-block" id="loginBut">立即登录</button>
				</li>
			</ul>
		</div>
	</section>
<script type="text/javascript">
       $(function(){
	        $("#loginBut").click(function(){
		    	var params ={
	    			username: $("#username").val(),
	    			password: $("#password").val(),
	    			token:"manage"
	    		};
		    	$.ajax({
				    url:'http://localhost:9001/security/login',
				    type:'post',
				    async:false,//同步：意思是当有返回值以后才会进行后面的js程序。
				    dataType:'text',
				    data: JSON.stringify(params),
				    success: function(data){
				        var userAllInfo=$.parseJSON(data);
				        var loginEntity=userAllInfo["loginEntity"];
				        var sessionId=loginEntity["id"];
				        $.session.set(JSON.stringify(sessionId),JSON.stringify(loginEntity));
				        window.location.href = '/index';
				    },
				    error: function(res){
		            	alert("登录失败");
		            }
				});
    	});
	});
    </script>
</body>
</html>
