<!DOCTYPE html>
<html>

	<head>
		<title>后台管理信息系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!--[if lt IE 9]>
	    <script src='assets/javascripts/html5shiv.js' type='text/javascript'></script>
	    <![endif]-->
		<link rel="shortcut icon" href="/images/icon/favicon.ico">
	</head>

	<body>
		<div class="main-wrap">
			<% include ./components/leftMenu.html %>
			<% include ./components/noScript.html %>
			<div class="content-wrap">
				<% include ./components/topBar.html %>
				<main class="main-cont content mCustomScrollbar">
					<!--开始::内容-->
					<div class="page-wrap">
						<section class="page-hd">
							<header>
								<h2 class="title"><i class="icon-inbox"></i>呼入记录管理</h2>
								<p class="title-description">
									悉心管理，成就梦想。
								</p>
							</header>
							<hr>
						</section>
					</div>
					<div class="page-wrap" style="margin-top:-40px">
						<table>
							<tr>
								<td>
									<div class="form-group-col-2">
										<div class="form-label">公司域名：</div>
										<div class="form-cont">
											<input type="text" placeholder="请输入公司域名" class="form-control form-boxed">
										</div>
									</div>
								</td>
								<td>
									<div class="form-group-col-2">
										<div class="form-label">坐席工号：</div>
										<div class="form-cont">
											<input type="text" placeholder="请输入坐席工号" class="form-control form-boxed">
										</div>
									</div>
								</td>
								<td>
									<div class="form-group-col-2">
										<div class="form-label">顾客电话：</div>
										<div class="form-cont">
											<input type="text" placeholder="请输入顾客电话" class="form-control form-boxed">
										</div>
									</div>
								</td>
								<td>
									<div class="form-group-col-2">
										&nbsp;&nbsp;
										<input id="queryBut"  @change="changeOverlay" type="button" class="btn btn-warning" value="查询">
									</div>
								</td>
							</tr>
						</table>
						<table  id="havaTable"   class="table table-bordered  mb-15">
							<thead>
								<tr>
									<th>编号</th>
									<th>公司名称</th>
									<th>公司域名</th>
									<th>顾客姓名</th>
									<th>顾客电话</th>
									<th>坐席工号</th>
									<th>呼入时间</th>
									<th>通话时长</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<template>
									<tr v-for="todo in items"   class="cen">
										<td>todo.id</td>
										<td>todo.ani</td>
										<td>todo.call_type_name</td>
										<td></td>
										<td>13612345678</td>
										<td>5001</td>
										<td>2018.04.01 19:10:15</td>
										<td>17s</td>
										<td>
											<a title="编辑" class="mr-5">编辑</a>
											<a title="详情" class="mr-5">详情</a>
											<a title="删除">删除</a>
										</td>
									</tr>
								</template>
							</tbody>
						</table>
						<div class="panel-bd">
							<div class="pagination"><span class="disabled">上一页</span><span class="current">1</span><a href="javascript:;" class="nextPage">下一页</a></div>
						</div>
					</div>
					<!--开始::结束-->
				</main>
				<% include ./components/footer.html %>
			</div>
		</div>
		<script type="text/javascript">
	       $(function(){
	       		function showMessage(state,mes){//使用vue.js弹出提示框
	       			new Vue({
		   				el:"#messageTitle",
		   				data:{
		   					show:state,
		   					message:mes
		   				}
		   			});
	       		}
	       		function spliceGetStr(params){//拼接get请求
	       			var strTemp="";
	       			for (var variable in params) {
	       				strTemp+=variable+"="+params[variable]+"&"
	       			}
	       			if(strTemp.length>0){
	       				strTemp=strTemp.substr(0,strTemp.length-1);
	       			}
	       			return strTemp;
	       		}
		        $("#queryBut").click(function(){
			    	var params ={
		    			domain: $("#domain").val(),
		    			company_name: $("#company_name").val(),
		    			pageNo:1,
		    			pageSize:99,
		    			token:"manage"
		    		};
		    		var paramsGetStr="?"+spliceGetStr(params);
		    		var userAllInfo=$.session.get("loginUserAllInfo");
			   		var userAllInfoJson=$.parseJSON(userAllInfo);
			        var sessionId=userAllInfoJson["id"];//返回的还是一个json对象
			        var user=userAllInfoJson["user"];
			        var user_id=user["id"];
		    		var _headers= {
						"sessionId":sessionId,
						"user_id":user_id
					}

			    	$.ajax({
					    url:'http://localhost:7000/tenant/'+paramsGetStr,
					    type:'get',
					    dataType:'text',
					    headers:_headers,
					    success: function(_data){
					    	var infoRes=$.parseJSON(_data);//返回的数据，包含时间戳等
				        	var infoData=infoRes["data"];//取到data
				        	if(infoData==""){
				        		alert("查询为空");
				        	}else{
				        		new Vue({
					   				el:"#havaTable",
					   				data:{
					   					todos:infoData
					   				}
					   			});
				        	}
					    },
					    error: function(res){
					    	showMessage(true,"查询失败");
			            	alert("查询失败");
			            }
					});
	    		});
			});
	    </script>
	</body>

</html>