<!DOCTYPE html>
<html>

	<head>
		<title>后台管理信息系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!--[if lt IE 9]>
	    <script src='assets/javascripts/html5shiv.js' type='text/javascript'></script>
	    <![endif]-->
		<link rel="shortcut icon" href="/images/icon/favicon.ico">
	</head>

	<body>
		<div class="main-wrap">
			<% include ./components/leftMenu.html %>
			<% include ./components/noScript.html %>
			<div class="content-wrap">
				<% include ./components/topBar.html %>
				<main class="main-cont content mCustomScrollbar">
					<!--开始::内容-->
					<div class="page-wrap">
						<section class="page-hd">
							<header>
								<h2 class="title"><i class="icon-columns"></i>添加租户</h2>
								<p class="title-description">
									悉心管理，成就梦想。
								</p>
							</header>
							<hr>
						</section>
					</div>
					<div class="page-wrap" style="margin-top:-40px">
						<div class="panel panel-default">
							<div class="panel-bd">
								<div class="panel panel-primary">
									<div class="panel-hd"> 添加租户</div>
									<div class="panel-bd">
										<fo-rm>
											<div class="form-group-col-2">
												<div class="form-label">企业名称：</div>
												<div class="form-cont">
													<input id="company_name" type="text" placeholder="请输入企业名称" class="form-control form-boxed">
												</div>
											</div>
											<div class="form-group-col-2">
												<div class="form-label">企业性质：</div>
												<div class="form-cont">
													<input id="company_type" type="text" placeholder="请输入企业性质" class="form-control form-boxed">
												</div>
											</div>
											<div class="form-group-col-2">
												<div class="form-label">企业领域：</div>
												<div class="form-cont">
													<input id="territory" type="text" placeholder="请输入企业领域" class="form-control form-boxed">
												</div>
											</div>
											<div class="form-group-col-2">
												<div class="form-label">公司域名：</div>
												<div class="form-cont">
													<input id="domain" type="text" placeholder="请输入公司域名" class="form-control form-boxed">
												</div>
											</div>
											<div class="form-group-col-2">
												<div class="form-label">申请人：</div>
												<div class="form-cont">
													<input id="applicant" type="text" placeholder="请输入申请人" class="form-control form-boxed">
												</div>
											</div>
											<div class="form-group-col-2">
												<div class="form-label">公司网址：</div>
												<div class="form-cont">
													<input id="url" type="text" placeholder="请输入公司网址" class="form-control form-boxed">
												</div>
											</div>
											<div class="form-group-col-2">
												<div class="form-label">法人代表：</div>
												<div class="form-cont">
													<input id="ceo" type="text" placeholder="请输入法人代表" class="form-control form-boxed">
												</div>
											</div>
											<div class="form-group-col-2">
												<div class="form-label">公司人数：</div>
												<div class="form-cont">
													<input id="people_num" type="text" placeholder="请输入公司人数" class="form-control form-boxed">
												</div>
											</div>
											<div class="form-group-col-2" style="margin-left: 50px;">
												<input id="tenantAddBut" type="button" class="btn btn-primary" value="提交表单">
												<input type="reset" class="btn btn-disabled" value="取消">
											</div>
										</fo-rm>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--开始::结束-->
				</main>
				<% include ./components/footer.html %>
			</div>
		</div>
		<script type="text/javascript">
	       $(function(){
	       		function showMessage(state,mes){//使用vue.js
	       			new Vue({
		   				el:"#messageTitle",
		   				data:{
		   					show:state,
		   					message:mes
		   				}
		   			});
	       		}
		        $("#tenantAddBut").click(function(){
			    	var params ={
		    			applicant: $("#applicant").val(),
		    			domain: $("domain").val(),
		    			company_name: $("#company_name").val(),
		    			company_type: $("#company_type").val(),
		    			territory: $("#territory").val(),
		    			url: $("#url").val(),
		    			ceo: $("#ceo").val(),
		    			people_num: $("#people_num").val(),
		    			token:"manage"
		    		};
		    		var userAllInfo=$.session.get("loginUserAllInfo_manage");
			   		var userAllInfoJson=$.parseJSON(userAllInfo);
			        var sessionId=userAllInfoJson["id"];//返回的还是一个json对象
			        var user=userAllInfoJson["user"];
			        var user_id=user["id"];
		    		var _headers= {
						"sessionId":sessionId,
						"user_id":user_id
					}
			    	$.ajax({
					    url:'http://localhost:7000/tenant/',
					    type:'post',
					    dataType:'text',
					    data: JSON.stringify(params),
					    headers:_headers,
					    success: function(data){
					    	showMessage(true,"添加成功");
					        $(".form-control").val("");//清空输入框
					    },
					    error: function(res){
					    	showMessage(true,"添加失败");
			            	alert("添加失败");
			            }
					});
	    		});
			});
	    </script>
	</body>

</html>