<!DOCTYPE html>
<html>

	<head>
		<title>后台管理信息系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!--[if lt IE 9]>
	    <script src='assets/javascripts/html5shiv.js' type='text/javascript'></script>
	    <![endif]-->
		<link rel="shortcut icon" href="/images/icon/favicon.ico">
	</head>

	<body>
		<div class="main-wrap">
			<% include ./components/leftMenu.html %>
			<% include ./components/noScript.html %>
			<div class="content-wrap">
				<% include ./components/topBar.html %>
				<main class="main-cont content mCustomScrollbar">
					<!--开始::内容-->
					<div class="page-wrap">
						<section class="page-hd">
							<header>
								<h2 class="title"><i class="icon-columns"></i>租户信息查询</h2>
								<p class="title-description">
									悉心管理，成就梦想。
								</p>
							</header>
							<hr>
						</section>
					</div>
					
					<div class="page-wrap"  id="havaTable"  style="margin-top:-40px">
						<table>
							<tr>
								<td>
									<div class="form-group-col-2">
										<div class="form-label">企业名称：</div>
										<div class="form-cont">
											<input id="company_name" type="text" placeholder="请输入企业名称" class="form-control form-boxed">
										</div>
									</div>
								</td>
								<td>
									<div class="form-group-col-2">
										<div class="form-label">企业域名：</div>
										<div class="form-cont">
											<input id="domain" type="text" placeholder="请输入企业域名" class="form-control form-boxed">
										</div>
									</div>
								</td>
								<td>
									<div class="form-group-col-2">
										&nbsp;&nbsp;
										<input  @click="queryBut(1)"  type="button" class="btn btn-warning" value="查询">
									</div>
								</td>
							</tr>
						</table>
						<table  class="table table-bordered  mb-15">
							<thead>
								<tr>
									<th>编号</th>
									<th>企业名称</th>
									<th>企业性质</th>
									<th>企业领域</th>
									<th>公司域名</th>
									<th>申请者</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<template>
									<tr v-for="(todo,index) in todos" class="trClass">
										<td>{{index+1}}</td>
										<td v-text="todo.company_name"></td>
										<td v-text="todo.company_type"></td>
										<td v-text="todo.territory"></td>
										<td v-text="todo.domain"></td>
										<td v-text="todo.applicant"></td>
										<td>
											<a disabled="disabled" @click="viewBut(index)"  title="编辑" class="mr-5">编辑</a>
											<a disabled="disabled"  @click="removeBut(index)" title="删除">删除</a>
										</td>
									</tr>
								</template>
							</tbody>
						</table>	
<div class="mask" id="mask"></div>
<div class="dialog" id="dialog">
	<div class="dialog-hd">
		<strong class="lt-title">标题</strong>
		<a class="rt-operate icon-remove JclosePanel" title="关闭"></a>
	</div>
	<div class="dialog-bd">
		<!--start::-->
		<p>这里是基础弹窗,可以定义文本信息，HTML信息这里是基础弹窗,可以定义文本信息，HTML信息。</p>
		<!--end::-->
	</div>
	<div class="dialog-ft">
		<button class="btn btn-info JyesBtn">确认</button>
		<button class="btn btn-secondary JnoBtn">关闭</button>
	</div>
</div>
						<div class="">
							<div style="width: 50%;" class="dataTables_paginate paging_bootstrap pagination pagination-small">
								<div >
									<div>
										<!--以下nav是分页代码-->
										<nav arialabel="page navigation" class="pagenavouter" id="PageNavId"></nav>
									</div>
									<div>
										<div style="float: left;">
											<strong >总条数：<a id="count">0</a></strong>
										</div>
										<div style="float: left;">
											<strong >总页数：<a id="countPage">1</a></strong>
										</div>
										<br />
										<br />
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--开始::结束-->
				</main>
				<% include ./components/footer.html %>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				var goodsVue = new Vue({
					el: "#havaTable",
					data: {
						todos: '',
						_index: 1, //指示当前选择的是第几条数据
						pageNavObj: null //分页的对象
					},
					methods: {
						spliceGetStr: function(params) { //拼接get请求
							var strTemp = "";
							for(var variable in params) {
								strTemp += variable + "=" + params[variable] + "&"
							}
							if(strTemp.length > 0) {
								strTemp = strTemp.substr(0, strTemp.length - 1);
							}
							return strTemp;
						},
						getItem: function(_self, index) { //得到点击的是哪条数据,返回该条记录
							var _todosStr = JSON.stringify(_self.todos);
							var _todosArr = JSON.parse(_todosStr);
							var _item = _todosArr[index];
							return _item;
						},
						getItemId: function(_self, index) { //得到点击的是哪条数据,返回该条记录的id
							var _item = this.getItem(_self, index);
							var _itemId = _item["id"];
							return _itemId;
						},
						getDataBySession: function() { //从session中获取数据,拼接在header变量中
							var userAllInfo = $.session.get("loginUserAllInfo_manage");
							var userAllInfoJson = $.parseJSON(userAllInfo);
							var sessionId = userAllInfoJson["id"]; //返回的还是一个json对象
							var user = userAllInfoJson["user"];
							var user_id = user["id"];
							var tenant_id = user["tenant_id"];
							var _headers = {
								"sessionId": sessionId,
								"user_id": user_id
							}
							return _headers;
						},
						loadPaging: function(count, _pageNo) { //分页函数
							var pageNum = Math.ceil(count / 10); //计算总页数
							$("#count").html(count);
							$("#countPage").html(pageNum <= 0 ? 1 : pageNum);
							//下面开始分页
							this.pageNavObj = new PageNavCreate("PageNavId", {
								pageCount: pageNum, //总页数
								currentPage: _pageNo, //当前页
								perPageNum: 5, //每页按钮数
							});
							this.pageNavObj.afterClick(this.sendQuery);
						},
						sendQuery: function(_pageNo) { //发送ajax请求，获取指定条件的、带分页的数据
							var _self = this;
							var params ={
				    			domain: $("#domain").val(),
				    			company_name: $("#company_name").val(),
				    			pageNo:_pageNo,
				    			pageSize:10,
				    			token:"manage"
				    		};
							var paramsGetStr = "?" + this.spliceGetStr(params);
							//从session中获取数据，拼接到header中
							var _headers = this.getDataBySession();
							$.ajax({
								url:'http://localhost:7000/tenant/'+paramsGetStr,
								type: 'get',
								dataType: 'text',
								headers: _headers,
								success: function(_data) {
									var infoRes = $.parseJSON(_data); //返回的数据，包含时间戳等
									var infoData = infoRes["data"]; //取到data
									var count = infoRes["count"]; //取到数据总条数
									var pageNum = Math.ceil(count / 10); //计算总页数
									if(infoData == "") {
										_self.todos = '';
										alert("查询为空");
										_self.loadPaging(0,1); //分页
									} else {
										_self.todos = infoData; //设置表格里面的数据
										console.log("获取到的数据是：" + JSON.stringify(_self.todos));
										_self.loadPaging(count, _pageNo); //分页
									}
								},
								error: function(res) {
									alert("查询失败");
								}
							});
						},
						queryBut:function(_pageNo){//点击查询按钮
							this.sendQuery(_pageNo);
						},
						viewBut:function(index){//查看指定某一条的数据
							var _self = this;
							_self._index=index;//把查看的是哪一条记录下来
							//得到点击的是哪条数据
							var _itemId=this.getItemId(_self,index);
				    		//从session中获取数据，拼接到header中
				    		var _headers=this.getDataBySession();
				    		$.ajax({
				    			url:'http://localhost:7000/tenant/'+_itemId,
							    type:'get',
							    dataType:'text',
							    headers:_headers,
							    success: function(_data){
//							    	$("#mask").css("style","display: none;");//让弹框显示出来
//							    	$("#dialog").css("style","display: none;");//让弹框显示出来
							    	var infoRes=$.parseJSON(_data);//返回的数据，包含时间戳等
						        	var infoData=infoRes["data"];//取到data
						        	if(infoData==""){
						        		alert("操作异常");
						        	}else{
//						        		$("#viewName").val(infoData["name"]); 
//						        		$("#viewSex").val(infoData["sex"]); 
//						        		$("#viewPhone").val(infoData["phone"]); 
//						        		$("#viewEmail").val(infoData["email"]); 
//						        		$("#viewAddress").val(infoData["address"]); 
						        	}
							    },
							    error: function(res){
					            	alert("查看失败");
					            }
							});
						},
						editBut:function(){//编辑按钮
							var _self = this;
							var index=_self._index;//拿到选择的哪一行
							//得到点击的是哪条数据
							var _itemId=this.getItemId(_self,index);
				    		//从session中获取数据，拼接到header中
				    		var _headers=this.getDataBySession();
				    		//获取修改之前的数据
				    		var _item=this.getItem(_self,index);
				    		//整理新的数据
				    		_item["name"]=$("#viewName").val();
				    		_item["sex"]=$("#viewSex").val();
				    		_item["phone"]=$("#viewPhone").val();
				    		_item["email"]=$("#viewEmail").val();
				    		_item["address"]=$("#viewAddress").val();
				    		var params ={//不传token
				    			customer:_item
				    		};
				    		$.ajax({
							    url:'http://localhost:7000/tenant/'+_itemId,
							    type:'put',
							    dataType:'text',
							    data: JSON.stringify(params),
							    headers:_headers,
							    success: function(_data){
							    	alert("修改成功");
							    	var _todosStr=JSON.stringify(_self.todos);
									var _todosArr=JSON.parse(_todosStr);
									_todosArr[index]=_item;
							    	_self.todos = _todosArr;//更新显示的数据
							    },
							    error: function(res){
					            	alert("编辑失败");
					            }
							});
						},
						removeBut:function(index){//删除按钮
							var _self = this;
							//得到点击的是哪条数据
							var _itemId=this.getItemId(_self,index);
				    		//从session中获取数据，拼接到header中
				    		var _headers=this.getDataBySession();
				    		$.ajax({
							    url:'http://localhost:7000/tenant/'+_itemId,
							    type:'delete',
							    dataType:'text',
							    headers:_headers,
							    success: function(_data){
							    	alert("删除成功");
							    	_self.todos.splice(index,1);//第一个参数是下标，第二个参数是删除的数量 
							    	//取删除之前的数据条数，再减一更新上去
							    	var oldCount=$("#count").text();
							    	var oldCountPage=$("#countPage").text();
							    	var oldCountInt=parseInt(oldCount)-1;
							    	var oldCountPageInt=parseInt(oldCountPage)-1;
							    	$("#count").html(oldCountInt);
						    		$("#countPage").html(oldCountPageInt);
							    },
							    error: function(res){
					            	alert("删除失败");
					            }
							});
						}
					}
				});
			});
	    </script>
	</body>

</html>